<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmV46Y4r40pKgdAB7Vv7BYFLnd7z2sT4I</string>
	<key>GCM_SENDER_ID</key>
	<string>360773211601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hansl.attendance</string>
	<key>PROJECT_ID</key>
	<string>hansl-attendance</string>
	<key>STORAGE_BUCKET</key>
	<string>hansl-attendance.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360773211601:ios:161822bffd46fa3bb9bcf0</string>
</dict>
</plist>